# Python Notebooks
*.ipynb

# Compiled class file
*.pyc

# Log file
*.log

# AWS Keys
*.pem

# Package Files
*.zip
*.tar.gz
*.rar
*.jar

# YAML Files
kafka_master.yml
kafka_workers.yml
spark_master.yml
spark_worker.yml
flask.yml

# Google API Key File
GoogleAPIKey.config

# Files in development
Plot_slides
src/postgres/testing*
setup/Archive
src/testing.py
